[run]
source = .
omit = 
    */tests/*
    */test_*
    */__pycache__/*
    */venv/*
    */env/*
    */.env/*
    */migrations/*
    */alembic/*
    setup.py
    conftest.py

[report]
precision = 2
show_missing = True
skip_covered = False
sort = Cover

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    
    # Don't complain about abstract methods
    @(abc\.)?abstractmethod
    
    # Ignore type checking blocks
    if TYPE_CHECKING:
    
    # Ignore logging
    logger\.
    
    # Ignore pass statements
    pass

[html]
directory = htmlcov

[xml]
output = coverage.xml